.Audio {
  background-color: #282c34;
  /* background-color: #8743cc; */
  /* background-color: #9055cc; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Audio-link {
  color: #61dafb;
}

.Player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: relative;
  height: 360px;
  width: 360px;
}

.Player .song-info {
  color: rgba(97, 218, 251, 0.8);
  position: absolute;
  z-index: 2;
  top: 2rem;
  width: 100%;
}

.Player .song-info .song-artist {
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 0.5rem;
}

.Player .song-info .song-name {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.Player .controls {
  display: grid;
  grid-template: "prev play next";
  justify-content: center;
  position: relative;
  z-index: 2;
}

.Player .controls .pause-play-song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: #61dafb 3px solid; */
  border: rgba(97, 218, 251, 0.8) 3px solid;
  border-radius: 50%;
  padding: 0.5rem;
}

.Player .controls .prev-song {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Player .controls .next-song {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Player .song-footer {
  color: rgba(97, 218, 251, 0.8);
  position: absolute;
  z-index: 2;
  bottom: 2rem;
  width: 100%;
}

.Player .song-footer .song-gain {
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 0.5rem;
}

.Player .song-footer .song-duration {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

#Player-canvas {
  position: absolute;
  width: 600px;
  height: 600px;
  display: flex;
  align-self: center;
}