$breakpoint_mobileS = 320px
$breakpoint_mobileM = 375px
$breakpoint_mobileL = 425px
$breakpoint_tablet = 768px
$breakpoint_laptop = 1024px
$breakpoint_laptopM = 1366px
$breakpoint_laptopL = 1440px
$breakpoint_4k = 2560px

breakpoint($size)
  @media screen and (min-width: lookup('$breakpoint_' + $size))
    {block}

breakpoint-inv($size)
  @media screen and (max-width: lookup('$breakpoint_' + $size))
    {block}