.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--begrowth-border-radius-l);
  height: auto;
  padding: var(--begrowth-spacing-m);
  background: var(--begrowth-color-white);
}

.shadow-1 {
  box-shadow: var(--begrowth-shadow-1);
}

.shadow-2 {
  box-shadow: var(--begrowth-shadow-2);
}

.shadow-3 {
  box-shadow: var(--begrowth-shadow-3);
}

.shadow-4 {
  box-shadow: var(--begrowth-shadow-4);
}

.shadow-5 {
  box-shadow: var(--begrowth-shadow-5);
}

.shadow-6 {
  box-shadow: var(--begrowth-shadow-6);
}

.shadow-flat {
  box-shadow: none;
}
