.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  position: relative;
  height: 360px;
  width: 360px;
}

.player-canvas {
  width: 600px;
  height: 600px;
}
